<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jorjaimalex.mityoal">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MitYoAl">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".AñadirPerfil"></activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SignInActivity"/>

        <activity android:name=".LoginActivity"/>

        <activity android:name=".contactos.ContactoActivity"/>
        <activity android:name=".chat.ChatActivity"/>
    </application>

</manifest>